@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
    --main-color: #B0926A;
    --secondary-color: #706233;
    --player-color: #FAE7C9;
}
.background-image{
    height: 100dvh;
    width: 100vw;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/6a/2005-07-08_Mahjong.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    filter: blur(3px);


}
.background {
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    
}


.navbar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100px;
}

.box {
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 40%;
    display: none;
    align-items: center;
}



.players {
    border-radius: 30px;
    width: 18vh;
    height: 18vh;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--player-color);
}

.players ul {
    pointer-events: none;
}

.players:hover {
    box-shadow: 0 0 15px 10px var(--main-color);
}

.profilePicHolder {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.profilePic {
    height: 8vh;
    width: 8vh;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 3px 3px 3px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    text-align: center;
}



#camera {
    border-radius: 30px;
    height: 15vh;
    max-width: 15vh;
    margin: 20px 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    --bs-btn-border-color: 0;
    --bs-btn-color: black;
}

#camera:hover {
    box-shadow: 0 0 15px 10px pink;
}

#camera i {
    color: black;
    font-size: 50px;

}

#north {
    top: 50%;
}

#west {
    margin-right: 50px;
}

.score {
    font-weight: 600;
    font-size: x-large;
    letter-spacing: 5px;
    margin-right: -5px;
}

.name {
    font-size: 20px;
    margin-top: 10px;
    letter-spacing: 10px;
    margin-right: -10px;
}

.topRow {
    display: flex;
    justify-content: center;
}

.middleRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomRow {
    display: flex;
    justify-content: center;
}



.topBox {
    width: 320px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 0 0 30px 30px;
    background-color: var(--player-color);
    color: white;
    text-shadow: 0px 3px 3px rgb(0, 0, 0);
    position: relative;
}

.topBox p {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 7px;
    letter-spacing: 10px;
    margin-right: -10px;
    -webkit-text-stroke: 0.7px var(--secondary-color);
}

.topBox > i:nth-child(2) {
    position: absolute;
    right: 5%;
    top: 80%;
    width: 40px;
    height: 40px;
    background-color: #b0926a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 17px;
}

.topBox > i:first-child {
    position: absolute;
    left: 5%;
    top: 80%;
    width: 40px;
    height: 40px;
    background-color: #b0926a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 17px;
}

.timeline {
    margin-top: 40px;
    height: 300px;
    width: 100%;
    overflow-y: scroll;
    background-color: var(--player-color);
    border-radius: 30px;
}

.timeline .timelineMatchInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.timeline .timelineInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    background-color: var(--secondary-color);
    position: absolute;
    border-radius: 20px;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    color: white;

}

.timeline .timelineInfo p {
    margin-bottom: 0;
}

.timeline .timelineInfo .round {
    font-size: 25px;
    font-weight: 600;
}

.timeline .timelineInfo .timelinePlayer {
    font-size: 20px;
}

.timelineSpace {
    height: 20px;
}

.roundInfo {
    font-size: 30px;
    font-weight: 700;
}

.bottomBox {
    width: 330px;
    height: 70px;
    border-radius: 30px 30px 0 0;
    background-color: var(--secondary-color);
    position: relative;
    padding: 0;
    margin: 0;
}

.bottomBox .row {
    height: 100%;
}

.bottomBox .row .col-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    letter-spacing: 7px;
    padding: 0;
}
button {
    all: unset;
}

.bottomBox .row .col-6 i {
    pointer-events: none;
}

.bottomBox .row .col-6 p {
    margin-bottom: 0;
    pointer-events: none;
}

.bottomBtn {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0px 3px 3px black;
    background-color: var(--player-color);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}



.form-switch .form-check-input {
    height: 2.5rem;
    width: 5rem;
    margin-right: 30px;
}

.form-switch .form-check-label {
    font-size: 30px;
    font-weight: 800;
    text-shadow: 0 3px 3px rgb(0, 0, 0);
    color: white;
    -webkit-text-stroke: 2px grey;
    letter-spacing: 3px;
}

.form-switch {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

div:where(.swal2-container) .swal2-html-container {
    overflow: visible;
}

.leaderBoardBox {
    width: 370px;
    height: 80%;
    display: none;
    justify-content: center;
    align-items: center;
}

.info {
    position: absolute;
    width: 260px;
    height: 50px;
    background-color: var(--secondary-color);
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.info p {
    margin: 0;
    letter-spacing: 7px;
    margin-right: -8px;
}

.history {
    width: 80%;
    height: 90%;
    background-color: var(--player-color);
    border-radius: 30px;
    position: relative;
    overflow-y: scroll;
}

.historySpace {
    height: 50px;
}

.playerInfo {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
}

.modal-backdrop {
    display: none;
}


.startBox {
    width: 370px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.startContainer {
    height: 100%;
    padding: 0;
}

.btn-outline-primary {
    --bs-btn-border-color: black;
    --bs-btn-color: black;
    --bs-btn-active-color: black;
    --bs-btn-active-border-color: black;
    --bs-btn-active-bg: var(--main-color);
}

:root,
[data-bs-theme=light] {
    --bs-border-radius: 10px;
}

.startBox div .btn {
    --bs-btn-bg: var(--player-color);
    --bs-btn-border-width: 1px;
    box-shadow: 3px 3px 7px;
}

.startBox .selector1 .btn {
    --bs-btn-padding-x: 34px;
}

.startBox .selector2 .btn {
    --bs-btn-padding-x: 15px;
}

.startBox .container-fluid {
    width: 100%;
    height: 100px;
    padding: 0 30px;
    position: relative;
    right: 3%;
}

.startBox .container-fluid .row .col-6 p {
    margin-bottom: 0;
    margin-right: 15px;
    font-size: 25px;
    font-weight: 900;
    color: WHITE;
    text-shadow: 0px 3px 10px black;
    padding: 0;
    -webkit-text-stroke: 0.4px var(--secondary-color);
}

.startBox .container-fluid .row .col-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.startBox .container-fluid .row .col-6 input {
    width: 60px;
    border: 1px solid grey;
    background-color: rgba(255, 248, 240, 0.7);
    font-size: 18px;
    font-weight: 700;
}

.selector {
    margin-bottom: 20px;
}
.selector1 label{
    font-weight: 800;
    font-size: 20px;
}
.selector2 label{
    font-weight: 700;
    font-size: 20px;
}

/* get rid of scroll bar in leaderBoard */
.noScrollBar {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.noScrollBar::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

#capturedImg {
    position: fixed;
    z-index: -100;
}

.mainVideoContainer #video {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.mainVideoContainer {
    width: 80vw;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playerVideoContainer {
    height: 200px;
    width: 200px;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.playerVideoContainer #video {
    width: 200%;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.existingNameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.existingPicHolder {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.existingPic {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 3px 3px 3px;
}

#existingName {
    font-size: 20px;
    border-radius: 5px;
}

.contact-details-modal {
    top: 15%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    min-height: 70% !important;
    width: 80%;
    left: 10%;
}

.roomPinCode input {
    border: none !important;
    border-radius: 0 !important;
    width: 8.5ch;
    background:
        repeating-linear-gradient(90deg,
            dimgrey 0,
            dimgrey 1ch,
            transparent 0,
            transparent 1.7ch) 0 100%/100% 2px no-repeat;
    color: dimgrey;
    font: 5ch consolas, monospace;
    letter-spacing: .72ch;
    margin: 0 !important;
    box-shadow: 0 0 0 !important;
}

.roomPinCode input:focus {
    outline: none;
    color: rgb(0, 0, 0);
}

.roomPinCode input {
    height: auto !important;
    padding: 0 !important;

    /* display: none;
    position: relative;
    box-sizing: border-box;
    grid-template-columns: minmax(0, 100%);
    width: 32em;
    max-width: 100%;
    padding: 0 0 1.25em;
    border: none;
    border-radius: 5px;
    background: #fff; */
}

/* div:where(.swal2-container) div:where(.swal2-popup) {
    width: auto !important;
} */

.winnerPicHolder img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    pointer-events: none;
}
.winnerPicHolder p{
    pointer-events: none;
    white-space: nowrap;
}
.loserPicHolder img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    pointer-events: none;
}
.loserPicHolder p{
    pointer-events: none;
    white-space: nowrap;
}

.confirmWinnerContainer .row{
    margin-top: 10px;
}